.container {
    margin: auto;
    width:100%;
}

td{
  vertical-align: text-top;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px;
}

.cell{
	width: 8.33%;
}

.required .control-label:after {
	content:"*";
	color:red;
}

label{
	font-size: 100%;
}

hr, h4{
	margin: 0px 0px;	
}